body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
  /* margin: 0 !important; */
}

/* Navbar */
.navbar {
  height: 5rem;
  padding-left: 4px !important;
  padding-right: 16px !important;
  background-color: white;
}
.logo{
  width: 75px;
  padding: 0;
  border-radius: 50%;
}
.search-input{
  width: 260px !important;
  border-radius: 20px !important;
  font-size: 18px !important;
}
.search-btn{
  background-color: rgb(27, 175, 234) !important;
  color: white !important;
  border-radius: 20px !important;
  font-size: 16px !important;
}
.search-btn i{
  display: inline;
  margin-right: 5px;
}
.search-btn:hover{
  background-color: rgb(80, 195, 241) !important;
}
.nav-link {
  color: black !important;
  /* border: 1px solid rgb(240, 237, 237) !important; */
  border-radius: 5px;
  font-size: 18px !important;
}
.nav-link:hover {
  color: white !important;
  background-color: rgb(50, 179, 230);
  border-radius: 5px;
}
.navbar-nav{
  gap: 18px
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: black;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links {
  width: 100%;
}
.f-info-socials {
  width: 100%;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 8rem;
  background-color: gainsboro;
  text-align: center;
  align-items: center;
}

/* Card */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem;
  width: 100% !important;
  object-fit: cover !important;
  transition: all;
  transition-duration: 400ms;
}
/* card effect */
.card-img-top:hover {
  opacity: 0.9;
  scale: 1.02;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400;
}
.listing-link {
  text-decoration: none !important;
}

.add-btn {
  background-color: purple !important;
  border: none !important;
}

/* show image */
.show-img {
  height: 35vh;
  border-radius: 1rem;
}

/* btns */
.btns {
  display: flex;
  flex-direction: row;
}
.delete-btn {
  background-color: red !important;
  border: none !important;
}
.edit-btn {
  background-color: purple !important;
  border: none !important;
}

/* review card */
.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Map Styling */
#map {
    height: 350px;
    width: 40vw;
    border-radius: 10px;
}


@media(max-width: 768px){
  .navbar {
      padding: 0 !important;
  }
  .logo{
    width: 61px;
  }
  .navbar-collapse{
    background-color: white;
    padding: 15px 0 !important;
    margin: 0 -5px;
  }
  .search{
    display: none !important;
  }
  #explore{
    margin-bottom: 5px;
  }
  .nav-link{
    border: none !important;
    padding: 10px !important;
  }
  .navbar-nav{
    gap: 5px;
  }

  #map{
    width: 80vw;
    height: 300px;
  }
}
