<% layout('/layouts/boilerplate') %>

    <div class="row mt-3 mb-4">
        <h1 class="col-12 col-log-6 offset-lg-3">Login on BookaStay!</h1>
        <div class="col-lg-6 offset-lg-3">
            <form method="POST" action="/login" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input required type="text" placeholder="Enter username" name="username" id="username"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input required type="password" placeholder="Enter password" name="password" id="password"
                        class="form-control">
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>